<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://jimallen.github.com">Jim Allen</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="active">
			<a href="http://jimallen.github.com">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/jimallen" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.delicious.com/jimallen" target="_blank">Delicious</a>
		  </li>		
		  
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/jimallen" target="_blank">Twitter</a>  
		  </li>				  			  
		 
		 
		</ul>
	  </div>
	</div>
  </div>
</div>